<ion-header>
</ion-header>

<ion-content>
    <!-- Temi -->
    <mat-chip-list class="monithon-temi" aria-label="Temi progetto">
        <mat-chip class="monithon-tema" *ngFor="let tema of this.temi" 
        [selectable]="tema.isActive"
            [attr.data-active]="tema.isActive"
            selectable="true"
            (click)="this.goToTemaPreset(tema)" 
            selected="true"
            [attr.data-oc-cod-tema-sintetico]="tema.ocCodTemaSintetico"
            disableRipple="true">
            {{'temi.'+tema.ocCodTemaSintetico | transloco}}</mat-chip>
    </mat-chip-list>
</ion-content>