<ion-header class="monithon-about-header">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-icon class="monithon-close-modal" (click)="closeModal()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [scrollY]="false" class="monithon-about-modal-content">
    <ion-grid class="monithon-about-grid">
        <ion-row>
            <ion-col text-center size="6" class="monithon-about-col">
                <h1 class="monithon-about-titolo">{{'about.titolo' | transloco}}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size="6" class="monithon-about-col">
                <h3 class="monithon-about-titolo-sezione">{{'about.sottotitolo' | transloco}}</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size="6" class="monithon-about-col">
                <h3 class="monithon-about-titolo-sezione">{{'about.cosaPuoiFare'| transloco}}</h3>
                <ul>
                    <li>
                        Cercare i progetti finanziati nella tua città o nel tuo quartiere, a ogni pallino corrisponde un
                        progetto
                    </li>
                    <li>
                        Selezionare i progetti filtrando per tema, categoria di progetto, budget, anno di inizio, stato
                        di avanzamento.
                    </li>
                    <li>
                        Scoprire i progetti sui quali è già stato pubblicato un Report di monitoraggio civico su
                        Monithon
                    </li>
                    <li>
                        Scorrere l'elenco dei progetti selezionati ordinandoli per distanza dalla tua posizione, budget,
                        tema e anno di inizio
                    </li>
                    <li>
                        Leggere la sintesi del progetto e le sue principali caratteristiche
                    </li>
                    <li>
                        INIZIARE IL MONITORAGGIO e accedere all'area di lavoro di Monithon! Lì potrai scoprire tutti i
                        dettagli del progetto ed
                        essere guidato passo-passo alla redazione del Report di monitoraggio civico.
                    </li>
                </ul>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size="6" class="monithon-about-col">
                <h3 class="monithon-about-titolo-sezione">{{'about.metodologia'| transloco}}</h3>
                <ul>
                    <li>
                        La fonte dei dati è il Sistema Nazionale di Monitoraggio del MEF-IGRUE, pubblicati come dati
                        aperti su <a href="https://opencoesione.gov.it/" target="_blank">OpenCoesione</a>.
                    </li>
                    <li>
                        Sono considerati i progetti finanziati dal Fondo Europeo di Sviluppo Regionale (FESR) 2014-2020
                    </li>
                    <li>
                        Sono stati inclusi i progetti classificati da OpenCoesione nei seguenti "temi sintetici":
                        Ambiente, Energia, Cultura e
                        Turismo. A questi sono stati aggiunti i progetti di mobilità sostenibile, considerando i "campi
                        di intervento" 43 e 44.
                    </li>
                    <li>
                        La posizione geografica deriva dalla georeferenziazione degli indirizzi dei progetti presenti
                        nel Sistema di
                        Monitoraggio (se non presenti, il progetto è stato localizzato al centro del comune). Sono
                        esclusi i progetti di livello
                        nazionale e regionale.
                    </li>
                    <li>
                        L'aggiornamento dei dati è al 31 Dicembre 2020.
                    </li>

                </ul>
            </ion-col>
        </ion-row>

        <ion-row class="monithon-colophon-row">
            <ion-col size="6"  class="monithon-about-col monithon-colophon-container">
                <img class="monithon-about-eu-flag" src="../../assets/img/Flag_of_Europe.svg">
                <p class="monithon-about-colophon"> {{"about.colophon" | transloco}} </p>
    
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>