@import '../../../theme/scrollbar-width-mixin.scss';
@import '../../../theme/cssvar.scss';
@import '../project-finder/project-finder.page.scss';

html {
    --ion-backdrop-color: #040a0c;
}

#temaSinteticoContainer {
    width: 100%;
}


.monithon-dettaglio-progetto {

    @for $codGiudizioSintetico from 1 through 7 {
        &[data-cod-giudizio-sintetico="#{$codGiudizioSintetico}"] {
            background-color: cssvar(monithon-giudizio, $codGiudizioSintetico, background);
        }

        .monithon-dettaglio-progetto__inizia_monitoraggio__button {
            color: cssvar(monithon-giudizio, $codGiudizioSintetico, background);
        }
    }

    .monithon-dettaglio-progetto__dettagli_container {
        ion-grid {
            height: 100%;

            ion-row {
                &.monithon-dettaglio-progetto__row {
                    height: auto;
                }
            }
        }
    }


    .monithon-dettaglio-progetto__categoria {


        .monithon-dettaglio-progetto__lista__categorie {
            &.inactive {
                .monithon-dettaglio-progetto__lista__categorie__header {
                    pointer-events: none;
                    cursor: default;
                }
            }



            @for $codGiudizioSintetico from 1 through 7 {
                &[data-cod-giudizio-sintetico="#{$codGiudizioSintetico}"] {
                    background: cssvar(monithon-giudizio, $codGiudizioSintetico, background) !important;
                }
            }

        }


    }

    .mat-chip.monithon-dettaglio-progetto__stato-avanzamento{
        width: auto;
    }

    .monithon-dettaglio-report__dettagli {
        justify-content: flex-start;

        .monithon_dettaglio_report_info {
            margin-bottom: 12px;

        }

        @media not screen and (-webkit-min-device-pixel-ratio: 2),
        not screen and (min--moz-device-pixel-ratio: 2),
        not screen and (-o-min-device-pixel-ratio: 2/1),
        not screen and (min-device-pixel-ratio: 2),
        not screen and (min-resolution: 192dpi),
        not screen and (min-resolution: 2dppx) {

            .monithon_dettaglio_report_info {
                margin-bottom: 6px;

            }
        }
    }


}

.mat-chip.monithon-tema[data-active="false"],
.mat-chip.monithon-categoria[data-active="false"] {

    &[data-cod-giudizio-sintetico="4"] {
        color: var(--monithon-giudizio-energia-background) !important;
        border-color: var(--monithon-giudizio-energia-background);
    }

    &[data-cod-giudizio-sintetico="5"] {

        color: var(--monithon-giudizio-ambiente-background) !important;
        border-color: var(--monithon-giudizio-ambiente-background);
    }

    &[data-cod-giudizio-sintetico="6"] {
        color: var(--monithon-giudizio-attrazione-background) !important;
        border-color: var(--monithon-giudizio-attrazione-background);
    }


}

.mat-chip.monithon-tema,
.mat-chip.monithon-categoria,
.mat-chip.monithon-giudizio,
.mat-chip.monithon-filtro-stato-avanzamento,
.mat-chip.monithon-filtro-report {

    // giudizi sintetici
    @for $codGiudizioSintetico from 1 through 7 {

        &[data-cod-giudizio-sintetico="#{$codGiudizioSintetico}"] {
            // color: cssvar(monithon-giudizio, $codGiudizioSintetico, background) !important;
            border-color: cssvar(monithon-giudizio, $codGiudizioSintetico, background);
            border-width: 1px;
            border-style: solid;
        }
    }

    // stati e flag report
    &[data-oc-cod-stato-progetto],
    &[data-tema-sintetico] {
        background-color: transparent;
        color: var(--monithon-filtro-secondario-unselected-color-report);
        border-color: var(--monithon-filtro-secondario-unselected-border-color-report);
    }

    &[data-cod-giudizio-sintetico] {
        background-color: transparent;
    }

    &.mat-chip-selected {
        color: var(--monithon-tema-color) !important;

        @for $codGiudizioSintetico from 1 through 7 {
            &[data-cod-giudizio-sintetico="#{$codGiudizioSintetico}"] {
                background-color: cssvar(monithon-giudizio, $codGiudizioSintetico, background);
            }
        }


        &[data-oc-cod-stato-progetto],
        &[data-tema-sintetico] {
            background-color: var(--monithon-filtro-secondario-selected-color) !important;
            border-color: var(--monithon-filtro-secondario-selected-color);
        }
    }
}




.monithon-filtri {
    --monithon-deselected-chart-fill: #D5E1DD;
    background-color: var(--monithon-tema-sfondo-filtri-report);
     ::ng-deep .mat-expansion-indicator{
        border:1px solid var(--monithon-panel-chevron-color);
    }
    &.mat-expanded {
        .monithon-categorie-container {
            display: flex;
            flex-direction: column;
        }

        #programmaOperativoContainer {
            margin-top: auto;
            text-align: left;
            padding-top: 12px;

            .monithon-programmi-operativi-label {
                padding-left: 24px;
            }


        }
    }
    .mat-chip.monithon-filtro-stato-avanzamento.monithon-filtro-ciclo-programmazione {
        width: auto;
    }

}

.monithon-risultati-header{
     ::ng-deep .mat-expansion-indicator{
        background-color: var(--monithon-contatore-risultati-color);
    }
}
.monithon-filtri-charts {
    background-color: var(--monithon-tema-sfondo-charts-report);
}








.monithon-lista-risultato {



    @for $codGiudizioSintetico from 1 through 7 {
        &[data-cod-giudizio-sintetico="#{$codGiudizioSintetico}"]::before {
            background-color: cssvar(monithon-giudizio, $codGiudizioSintetico, background);
        }

        &[data-cod-giudizio-sintetico="#{$codGiudizioSintetico}"].selected {
            color: cssvar(monithon-giudizio, $codGiudizioSintetico, background);
        }
    }

}



#resultContainer {

    .monithon-lista-progetti__progetto {

        @for $codGiudizioSintetico from 1 through 7 {
            &[data-cod-giudizio-sintetico="#{$codGiudizioSintetico}"] {
                border-bottom-color: cssvar(monithon-giudizio, $codGiudizioSintetico, background);
            }
        }


        &.selected {

            @for $codGiudizioSintetico from 1 through 7 {
                &[data-cod-giudizio-sintetico="#{$codGiudizioSintetico}"] {
                    border-color: cssvar(monithon-giudizio, $codGiudizioSintetico, background);
                }
            }


        }
    }


}





.monithon-search-input {
    width: 100%;

    ::ng-deep {

        .mat-form-field-underline,
        .mat-form-field-subscript-wrapper {
            display: none;
        }

        .mat-form-field-wrapper {
            padding: 0;
            margin: 0;
        }

        .mat-form-field-flex {
            align-items: center;
        }

        .mat-form-field-infix {
            padding: 0;
            border: 0;
        }

        .mat-form-field-label {
            top: unset;
        }

        .mat-form-field-label-wrapper {
            top: 0;
            padding-top: 0;
        }
    }
}