<ion-content [fullscreen]="true" [scrollY]="false" class="monithon-report-finder" [ngClass]="{'mobile': isMobile}">
    <!-- <ion-toolbar class="monithon-header" >
    </ion-toolbar> -->
    <div id="aboutBtnContainer">
        <ion-icon class="monithon-about-icon" slot="icon-only" (click)="openIonModal()"></ion-icon>
        <ion-icon class="monithon-logo-icon" slot="icon-only" (click)="goToMonithon()"></ion-icon>
    </div>
    <div #geocoder id="geocoder" class="geocoder">
        <ion-label class="monithon-titolo-sezione">{{'comune'|transloco}}</ion-label>
    </div>
    <div id="raggioContainer" [ngClass]="{'backgrounded': hideSlider}">
        <mat-slider [min]="minRadius" [max]="maxRadius" thumbLabel="true" step="1"
            [displayWith]="formatLabelSliderRaggio" [value]="raggioCorrente" (input)="onRadiusChange($event)"
            [disabled]="!reportMap.filtroPerRaggioEnabled">
        </mat-slider>
    </div>

    <div #navigationControl id="navigationControl" class="navigation-control"
        [ngClass]="{'hidden': (isWizardMode && !reportMap.filtroPerRaggioEnabled) || (!isWizardMode && !isAppReady),'visible': ((!isWizardMode && isAppReady) || reportMap.filtroPerRaggioEnabled)}">

    </div>
    <div id="container"
        [ngClass]="{'hidden': (isWizardMode && !reportMap.filtroPerRaggioEnabled) || (!isWizardMode && !isAppReady),'visible': ((!isWizardMode && isAppReady) || reportMap.filtroPerRaggioEnabled)}">
        <!-- Mappa -->
        <div #mapContainer id="mapContainer">

        </div>
        <!-- dettaglio report : vedi FIGMA https://www.figma.com/file/L6HXOHwXoh9aTQCNGfwOAd/?node-id=103%3A1 -->
        <div [ngClass]="{'hidden': !this.visualizzaDettaglio, 'visible': this.visualizzaDettaglio}" #dettaglioProgetto
            [attr.data-cod-giudizio-sintetico]="this.reportSelezionato.codGiudizioSintetico"
            class="monithon-dettaglio-progetto" #dettaglioProgettoContainer>
            <div class="monithon-dettaglio-progetto__header">
                <h5 class="monithon-dettaglio-progetto__titolo_scheda monithon-titolo-sezione">{{'report.sintesiReport'
                    |
                    transloco}}</h5>

                <ion-icon (click)="onDettaglioReportHandleClick()"></ion-icon>
            </div>
            <div #dettagliProgetto class="monithon-dettaglio-progetto__dettagli_container">
                <ion-grid>
                    <!-- titolo -->
                    <ion-row>
                        <ion-col size="12"
                            class="monithon-dettaglio-progetto__col monithon-dettaglio-progetto__col__titolo ">
                            <div class="monithon-dettaglio-progetto__titolo_container">
                                <h4 class="monithon-dettaglio-progetto__titolo monithon-titolo-singolo-progetto ">
                                    {{reportSelezionato.titolo |
                                    fixencodedchars |
                                    unescape | capitalize}}
                                </h4>
                            </div>
                        </ion-col>
                    </ion-row>
                    <!-- info accessorie -->
                    <ion-row class="monithon-dettaglio-progetto__row">
                        <!-- sintesi e link -->
                        <ion-col col-6
                            class="monithon-dettaglio-progetto__col monithon-dettaglio-progetto__col__titolo ">
                            <div #sintesiProgetto class="monithon-dettaglio-progetto__sintesi">
                                <div>{{reportSelezionato.sintesi | fixencodedchars | unescape | capitalize}}
                                </div>
                                <div class="monithon-dettaglio-progetto__sintesi__oc_link">
                                    <a href="{{reportSelezionato.link}}" target="_blank">→ {{'report.readmore' |
                                        transloco
                                        }}</a>
                                </div>
                            </div>


                        </ion-col>
                        <!-- dettagli -->
                        <ion-col col-6
                            class="monithon-dettaglio-progetto__col monithon-dettaglio-progetto__dettagli monithon-dettaglio-report__dettagli">
                            <div class="monithon-dettaglio-progetto__data_inizio monithon_dettaglio_report_info">
                                <ion-label class="monithon-dettaglio-progetto__label monithon-titolo-sezione">
                                    {{'dataInserimento' | transloco}}
                                </ion-label>
                                <ion-label class="monithon-dettaglio-progetto__data_inizio">
                                    {{reportSelezionato.dataInserimento | momentdate:'YYYYMMDD' |
                                    date:'MMMM y':'+0100': 'it'}}</ion-label>
                            </div>


                            <div class="monithon-dettaglio-progetto__tema monithon_dettaglio_report_info">
                                <ion-label class="monithon-dettaglio-progetto__label  monithon-titolo-sezione">
                                    {{'codGiudizioSintetico'
                                    | transloco}}</ion-label>
                                <ion-label class="monithon-dettaglio-progetto__tema__progetto">
                                    {{'report.giudizioSintetico.'+reportSelezionato.codGiudizioSintetico| transloco}}
                                </ion-label>
                            </div>


                            <div class="monithon-dettaglio-progetto__tema monithon_dettaglio_report_info">
                                <ion-label class="monithon-dettaglio-progetto__label  monithon-titolo-sezione">{{'tema'
                                    | transloco}}</ion-label>
                                <ion-label class="monithon-dettaglio-progetto__tema__progetto">
                                    {{'report.temaSintetico.'+reportSelezionato.ocCodTemaSintetico | transloco}}
                                </ion-label>
                            </div>

                            <!-- ricever label da servizio -->
                            <div class="monithon-dettaglio-progetto__tema monithon_dettaglio_report_info">
                                <ion-label class="monithon-dettaglio-progetto__label  monithon-titolo-sezione">
                                    {{'programmaOperativo'
                                    | transloco}}</ion-label>
                                <ion-label class="monithon-dettaglio-progetto__tema__progetto">
                                    {{reportSelezionato.programmaOperativo.descProgrammaOperativo}}
                                </ion-label>
                            </div>


                            <div class="monithon-dettaglio-progetto__tema monithon_dettaglio_report_info">
                                <ion-label class="monithon-dettaglio-progetto__label  monithon-titolo-sezione">
                                    {{'finanziamento' | transloco}}:</ion-label>
                                <ion-label class="monithon-dettaglio-progetto__tema__progetto">
                                    {{reportSelezionato.ocFinanzTotPubNetto | currency:reportSelezionato.curr }}
                                </ion-label>
                            </div>

                            <div id="flagProgetto monithon_dettaglio_report_info">
                                <ion-grid class="ion-no-padding">
                                    <ion-row class="monithon-filtri-secondari ion-no-margin ">
                                        <ion-col size="12" class="ion-no-margin ">
                                            <ion-label
                                                class="chart-title monithon-dettaglio-progetto__label  monithon-titolo-sezione">
                                                {{'cicloProgrammazione' |transloco}}</ion-label>
                                            <mat-chip-list class="monithon-dettaglio-progetto__stato-avanzamento"
                                                multiple="true" aria-orientation="horizontal">
                                                <mat-chip class="monithon-dettaglio-progetto__stato-avanzamento"
                                                    selectable="false" *ngFor="let ciclo of this.cicliProgrammazione"
                                                    [selected]="reportSelezionato.ocCodCicloProgrammazione==ciclo.ocCodCicloProgrammazione"
                                                    [attr.data-oc-cod-stato-progetto]="ciclo.ocCodCicloProgrammazione"
                                                    disableRipple="true">
                                                    {{ciclo.descCicloProgrammazione}}
                                                </mat-chip>
                                            </mat-chip-list>
                                        </ion-col>

                                    </ion-row>
                                </ion-grid>
                            </div>
                            <!-- <div class="monithon-dettaglio-progetto__inizia_monitoraggio">
                                <button (click)="iniziaMonitoraggioClicked(reportSelezionato)"
                                    class="monithon-dettaglio-progetto__inizia_monitoraggio__button monithon-titolo-sezione"
                                    mat-button color="primary">{{'iniziaMonitoraggio' | transloco}}
                                </button>
                            </div> -->
                        </ion-col>

                    </ion-row>

                </ion-grid>

            </div>
        </div>

        <div id="panelContainer">
            <div id="filterContainer">
                <!-- Giudizi sintetici -->
                <mat-chip-list class="monithon-temi" aria-label="Temi progetto" multiple="true">
                    <mat-chip class='monithon-giudizio' *ngFor="let giudizio of this.giudiziSintetici"
                        [selected]="giudizio.isSelected" [selectable]="giudizio.isActive"
                        [attr.data-active]="giudizio.isActive" (click)="this.filtraPerGiudizio(giudizio)"
                        [attr.data-cod-giudizio-sintetico]="giudizio.codGiudizioSintetico" disableRipple="true">
                        <span class="monithon-categoria-wrapper">
                            {{'report.giudizioSintetico.'+giudizio.codGiudizioSintetico |
                            transloco}}
                        </span>
                    </mat-chip>
                </mat-chip-list>

                <!-- Temi -->
                <mat-expansion-panel class="monithon-filtri">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="monithon-titolo-sezione">
                            {{'report.monithonFiltriTitle'|transloco}}
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <ion-grid class="ion-no-padding">
                        <ion-row>
                            <ion-col size="6" class="ion-no-margin monithon-categorie-container">
                                <div #temaSinteticoContainer id="temaSinteticoContainer">
                                    <!-- parametrizzare con categorie dei progetti selezionati su mappa -->
                                    <mat-chip-list [ngClass]="{'monithon-categorie': true}" multiple="true"
                                        aria-orientation="horizontal">
                                        <mat-chip [ngClass]="{'monithon-categoria': true}"
                                            *ngFor="let temaSintetico of this.temi"
                                            [selected]="temaSintetico.isSelected"
                                            [attr.data-active]="temaSintetico.isActive"
                                            (click)="this.filterByTemaSintetico(temaSintetico)"
                                            [attr.data-tema-sintetico]="temaSintetico.ocCodTemaSintetico"
                                            disableRipple="true">
                                            <span class="monithon-categoria-wrapper">
                                                {{ 'report.temaSintetico.'+temaSintetico.ocCodTemaSintetico |
                                                transloco}}
                                            </span>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div #programmaOperativoContainer id="programmaOperativoContainer">

                                    <label
                                        class="monithon-titolo-sezione monithon-programmi-operativi-label">{{'report.programmiOperativi'|transloco}}</label>

                                    <ng-select class="monithon-report-programmi-operativi-select"
                                        [items]="programmiOperativi" bindLabel="descProgrammaOperativo" [addTag]="false"
                                        [multiple]="false" [searchFn]="searchProgrammaOperativo" [hideSelected]="true"
                                        [minTermLength]="2" [virtualScroll]="true"
                                        (change)="onProgrammOperativoChange($event)"
                                        [placeholder]="'report.programmiOperativiPlaceholder'|transloco"
                                        [typeToSearchText]="" #programmiOperativiSelect
                                        [(ngModel)]="programmiOperativiSelezionati">

                                    </ng-select>

                                </div>
                            </ion-col>
                            <ion-col size="6" class="ion-no-margin monithon-chart-container-col">
                                <!-- INIZIALIZZARE COME ESPANSO -->
                                <mat-expansion-panel expanded="true" class="monithon-filtri-charts" id="chartPanel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="monithon-titolo-sezione monithon-titolo-sezione-budget">
                                            {{'chartPanelTitle'|transloco}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div id="chartsContainer">
                                        <ion-grid class="ion-no-margin">
                                            <ion-row class="ion-no-margin monithon-chart-container">
                                                <ion-col class="ion-no-margin">
                                                    <h5 class="chart-title monithon-titolo-sezione">{{'budgetChartTitle'
                                                        |transloco}}</h5>
                                                    <div #budgetChart id='budgetChartContainer'></div>
                                                </ion-col>
                                            </ion-row>

                                            <ion-row class="ion-no-margin monithon-chart-container">
                                                <ion-col class="ion-no-margin">
                                                    <h5 class="chart-title monithon-titolo-sezione">
                                                        {{'annoChartTitle'|transloco}}</h5>
                                                    <div #annoChart id='annoChartContainer'></div>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </div>
                                    <div id="filtriSecondariContainer">
                                        <ion-grid>
                                            <ion-row class="monithon-filtri-secondari ion-no-margin ">
                                                <ion-col class="ion-no-margin ">
                                                    <h5 class="chart-title monithon-titolo-sezione">
                                                        {{'cicloProgrammazione'
                                                        |transloco}}</h5>
                                                    <mat-chip-list class="monithon-filtro-stato-avanzamento"
                                                        multiple="true" aria-orientation="horizontal">
                                                        <mat-chip *ngFor="let ciclo of this.cicliProgrammazione"
                                                            class="monithon-filtro-stato-avanzamento monithon-filtro-ciclo-programmazione monithon-small-chip"
                                                            selectable="{{ciclo.isActive}}"
                                                            [attr.data-active]="ciclo.isActive"
                                                            [selected]="ciclo.isSelected"
                                                            (click)="this.filterByCiclo(ciclo)"
                                                            [attr.data-oc-cod-stato-progetto]="ciclo.ocCodCicloProgrammazione"
                                                            disableRipple="true">
                                                            {{ciclo.descCicloProgrammazione }}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </ion-col>
                                                <!-- <ion-col size="6" class="ion-no-margin">
                                                    <h5 class="chart-title monithon-titolo-sezione">{{'temiSintetici'
                                                        |transloco}}</h5>
                                                    <mat-chip-list class="monithon-filtro-report" multiple="true"
                                                        aria-orientation="horizontal">
                                                        <mat-chip class="monithon-filtro-report monithon-small-chip"
                                                            *ngFor="let temaSintetico of this.temi"
                                                            [selected]="temaSintetico.isSelected"
                                                            [attr.data-active]="temaSintetico.isActive"
                                                            (click)="this.filterByReportFlag(temaSintetico)"
                                                            [attr.data-tema-sintetico]="temaSintetico.ocCodTemaSintetico"
                                                            disableRipple="true">
                                                            {{ 'report.temaSintetico.'+temaSintetico.ocCodTemaSintetico |
                                                            transloco}}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </ion-col> -->
                                            </ion-row>
                                        </ion-grid>
                                    </div>
                                </mat-expansion-panel>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </mat-expansion-panel>
            </div>
        </div>
        <div class="right-column">
            <mat-expansion-panel id="resultContainer" [(expanded)]="espandiListaRisultati">
                <mat-expansion-panel-header class="monithon-risultati-header">
                    <ion-grid class="ion-no-margin">
                        <ion-row class="ion-no-margin">
                            <ion-col class="ion-no-margin monithon-header-col">
                                <h2 class="monithon-risultati-header-titolo">{{'reportResultContainerTitle' |
                                    transloco}}
                                </h2>
                                <h1 class="monithon-risultati-contatore" [attr.data-hidden]="espandiListaRisultati"
                                    #resultCounter>{{this.getRisultati().length | number}} </h1>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </mat-expansion-panel-header>
                <div class="monithon-lista-header">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="8">
                                <h1 class="monithon-risultati-contatore" [attr.data-hidden]="!espandiListaRisultati"
                                    #resultCounter>{{this.getRisultati().length |
                                    number}}
                                </h1>
                            </ion-col>

                            <!-- comune:; Distanza: mostrati solo se filtro per distanza attivo -->
                            <ion-col size="4" class="monithon-geolocator-data-container"
                                *ngIf="reportMap.filtroPerRaggioEnabled">
                                <span class="monithon-comune-corrente">{{comuneCorrente | unescape | capitalize}}</span>
                                <span class="monithon-raggio-corrente">{{raggioCorrente|formatDistanza}}</span>
                            </ion-col>
                            <ion-col size="4" class="monithon-geolocator-data-container"
                                *ngIf="!reportMap.filtroPerRaggioEnabled">
                                <span class="monithon-comune-corrente">-</span>
                                <span class="monithon-raggio-corrente">-</span>
                            </ion-col>
                        </ion-row>
                        <!-- ordinamento -->
                        <ion-row>
                            <ion-col>
                                <div class="monithon-criterio-ordinamento__selezione">
                                    <mat-label>{{'ordinaPer' | transloco}}</mat-label>
                                    <mat-chip-list class="monithon-criteri-ordinamento">
                                        <mat-chip *ngFor="let criterio of criteriOrdinamento"
                                            [attr.data-active]="(criterio!='distanza') || reportMap.filtroPerRaggioEnabled"
                                            class="monithon-criterio-ordinamento"
                                            (click)="onCriterioSelezionatoClick(criterio)" disableRipple="true"
                                            [ngClass]="{'selected': criterio==criterioSelezionato}">
                                            {{criterio | transloco}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>

                            </ion-col>
                        </ion-row>
                        <!-- ricerca testuale -->
                        <ion-row>
                            <ion-col>
                                <mat-form-field floatLabel='never' class="monithon-search-input">
                                    <mat-icon matPrefix>search</mat-icon>
                                    <input (change)="searchReportByTitle()" matInput type="search"
                                        [placeholder]="'cercaPerTitolo' | transloco" class="search-input"
                                        [(ngModel)]="titleSearchTerm">
                                    <button mat-button *ngIf="titleSearchTerm" matSuffix mat-icon-button
                                        aria-label="Clear" (click)="resetTitleSearch()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>

                <!-- lista risultati -->
                <cdk-virtual-scroll-viewport #listaRisultati itemSize="100" minBufferPx="500" maxBufferPx="1000"
                    class="monithon-lista-progetti">
                    <ion-item color="light" *cdkVirtualFor="let report of getRisultati()"
                        class="monithon-lista-progetti__progetto"
                        [attr.data-cod-giudizio-sintetico]="report.codGiudizioSintetico"
                        [ngClass]="{'selected': (report.uid==reportSelezionato.uid)}" lines="none">
                        <ion-grid class="ion-no-margin">
                            <ion-row class="ion-no-margin">
                                <ion-col class="ion-no-margin">
                                    <ion-label class="monithon-lista-risultato" (click)="onReportClick(report)"
                                        [attr.data-cod-giudizio-sintetico]="report.codGiudizioSintetico"
                                        [ngClass]="{'selected': (report.uid==reportSelezionato.uid)}">
                                        <h2>{{report.titolo | fixencodedchars | unescape | capitalize}}
                                        </h2>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row class="ion-no-margin">
                                <ion-col class="ion-no-margin" size-xl="8">
                                    <mat-expansion-panel disabled="true" hideToggle="true"
                                        class="monithon-lista-progetti__progetto__dettagli mat-elevation-z">
                                        <mat-expansion-panel-header
                                            class="monithon-lista-progetti__progetto__dettagli__header">
                                            <ion-grid class="ion-no-margin">
                                                <ion-row class="ion-no-margin">
                                                    <ion-col size="6" class="ion-no-margin">
                                                        <ion-label
                                                            class="monithon-lista-progetti__progetto__dettagli__distanza">
                                                            {{'distanza'|transloco}}: {{report.distanza |
                                                            formatDistanza }}
                                                        </ion-label>
                                                    </ion-col>

                                                </ion-row>
                                            </ion-grid>
                                        </mat-expansion-panel-header>
                                    </mat-expansion-panel>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </ion-item>
                </cdk-virtual-scroll-viewport>
            </mat-expansion-panel>
        </div>
    </div>
</ion-content>