<ion-header class="monithon-about-header">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-icon class="monithon-close-modal" (click)="closeModal()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [scrollY]="false" class="monithon-about-modal-content">
    <ion-grid class="monithon-about-grid" *ngIf="mode == 'projectFinder'">
        <ion-row class="monithon-logo-row">
            <ion-col size-md="4" size-sm="6" class="monithon-about-col monithon-colophon-container">
                <img class="monithon-about-logo" src="../../assets/img/logo_monithon.svg">

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size-md="4" size-sm="6" class="monithon-about-col">
                <h1 class="monithon-about-titolo">{{'about.projectFinder.titolo' | transloco}}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size-md="4" size-sm="6" class="monithon-about-col">
                <h3 class="monithon-about-titolo-sezione">{{'about.projectFinder.sottotitolo' | transloco}}</h3>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col text-center class="monithon-about-col" size-md="4" size-sm="6">
                <a [routerLink]="['/']" (click)="closeModal(250)">
                    <h3 class="monithon-about-titolo-sezione">{{'about.projectFinder.noWizard' | transloco}}</h3>
                </a>

                <a [routerLink]="['/wizard']" (click)="closeModal(250)">
                    <h3 class="monithon-about-titolo-sezione">{{'about.projectFinder.wizardComuni' | transloco}}</h3>
                </a>

                <!-- <a [routerLink]="['/temi']" (click)="closeModal(250)">
                    <h3 class="monithon-about-titolo-sezione">{{'about.projectFinder.wizardTemi' | transloco}}</h3>
                </a> -->

                <a [routerLink]="['/sorgenti']" (click)="closeModal(250)">
                    <h3 class="monithon-about-titolo-sezione">{{'about.projectFinder.wizardSorgenti' | transloco}}</h3>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size-md="4" size-sm="6" class="monithon-about-col">
                <h3 class="monithon-about-titolo-sezione">{{'about.projectFinder.cosaPuoiFare'| transloco}}</h3>
                <ul [innerHTML]="'about.projectFinder.htmlCosaPuoiFare'|transloco">
                </ul>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size-md="4" size-sm="6" class="monithon-about-col">
                <h3 class="monithon-about-titolo-sezione">{{'about.projectFinder.metodologia'| transloco}}</h3>
                <ul [innerHTML]="'about.projectFinder.htmlMetodologia'|transloco">
                </ul>
            </ion-col>
        </ion-row>

        <ion-row class="monithon-credits-row">
            <ion-col size-md="4" size-sm="6" class="monithon-about-col monithon-credits-container">
                <h3 class="monithon-about-titolo-sezione">{{'about.credits'| transloco}}</h3>
                <p class="monithon-about-credit">{{"about.design"|transloco}} <a
                        href="https://sheldon.studio/" target="_blank">Sheldon.studio</a> </p>

                <p class="monithon-about-credit"> {{"about.dataAnalysis"|transloco}} <a href="https://www.monithon.eu"
                        target="_blank">Team Monithon</a>
                </p>

                <p class="monithon-about-credit"> {{"about.softwareDevelopment"|transloco}} <a
                        href="https://sheldon.studio/" target="_blank">Sheldon.studio</a> & <a
                        href="https://www.monithon.eu" target="_blank">Team Monithon</a>
                </p>


                <p class="monithon-about-credit" [innerHTML]="'about.projectFinder.colophon'|transloco"> {{"about.colo"|transloco}}
                </p>

            </ion-col>
        </ion-row>

        <ion-row class="monithon-colophon-row">
            <ion-col size-md="4" size-sm="6" class="monithon-about-col monithon-colophon-container">
                <img class="monithon-about-eu-flag" src="../../assets/img/eu_flag.png">

            </ion-col>
        </ion-row>

        <ion-row class="monithon-colophon-row monithon-app-info-row">
            <ion-col size-md="4" size-sm="6"
                class="monithon-about-col monithon-colophon-container monithon-app-info-container">
                <div class="monithon-about-version-number">Project Finder - v.{{version}}</div>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-grid class="monithon-about-grid" *ngIf="mode == 'reportFinder'">
        <ion-row class="monithon-logo-row">
            <ion-col size-md="4" size-sm="6" class="monithon-about-col monithon-colophon-container">
                <img class="monithon-about-logo" src="/assets/img/logo_monithon.svg">

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size-md="4" size-sm="6" class="monithon-about-col">
                <h1 class="monithon-about-titolo">{{'about.reportFinder.titolo' | transloco}}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size-md="4" size-sm="6" class="monithon-about-col">
                <h3 class="monithon-about-titolo-sezione">{{'about.reportFinder.sottotitolo' | transloco}}</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size-md="4" size-sm="6" class="monithon-about-col">
                <h3 class="monithon-about-titolo-sezione">{{'about.reportFinder.cosaPuoiFare'| transloco}}</h3>
                <ul [innerHTML]="'about.reportFinder.htmlCosaPuoiFare'|transloco">
                </ul>
            </ion-col>
        </ion-row>
        <!-- <ion-row>
            <ion-col text-center size-md="4" size-sm="6" class="monithon-about-col">
                <h3 class="monithon-about-titolo-sezione">{{'about.reportFinder.metodologia'| transloco}}</h3>
                <ul [innerHTML]="'about.reportFinder.htmlMetodologia'|transloco">
                </ul>
            </ion-col>
        </ion-row> -->

        <ion-row class="monithon-credits-row">
            <ion-col size-md="4" size-sm="6" class="monithon-about-col monithon-credits-container">
                <h3 class="monithon-about-titolo-sezione">{{'about.credits'| transloco}}</h3>
                <p class="monithon-about-credit">{{"about.design"|transloco}} <a href="https://sheldon.studio/"
                        target="_blank">Sheldon.studio</a> </p>

                <p class="monithon-about-credit"> {{"about.dataAnalysis"|transloco}} <a href="https://www.monithon.eu"
                        target="_blank">Team Monithon</a>
                </p>

                <p class="monithon-about-credit"> {{"about.softwareDevelopment"|transloco}} <a
                        href="https://sheldon.studio/" target="_blank">Sheldon.studio</a> & <a
                        href="https://www.monithon.eu" target="_blank">Team Monithon</a>
                </p>


            </ion-col>
        </ion-row>

        <ion-row class="monithon-colophon-row">
            <ion-col size-md="4" size-sm="6" class="monithon-about-col monithon-colophon-container">
                <img class="monithon-about-eu-flag" src="../../assets/img/eu_flag.png">

            </ion-col>
        </ion-row>

        <ion-row class="monithon-colophon-row monithon-app-info-row">
            <ion-col size-md="4" size-sm="6"
                class="monithon-about-col monithon-colophon-container monithon-app-info-container">
                <div class="monithon-about-version-number">Report Finder - v.{{version}}</div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>