// @import 'variables.scss';

.monithon-titolo-sezione {
    font-family: $font1;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline !important; //necessario !important per sovrascrivere stile angular in header
    text-underline-offset: 3px;
    text-transform: uppercase;
    color: $white;

    &.monithon-dettaglio-progetto__label,
    &.monithon-dettaglio-progetto__inizia_monitoraggio__button {
        text-decoration: none !important;
    }
}



.monithon-titolo-singolo-progetto {
    font-family: $font2;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    color: $dark-blue;
}

.monithon-tema,
.monithon-giudizio,
.monithon-sorgente {
    font-family: $font1;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: $dark-blue;
}

.monithon-giudizio {
    font-size: 12px;
}

#text-containe {
    .monithon-titolo-sezione {
        font-size: 23px;
    }
}

.monithon-descrizione-wizard {
    font-family: $font2;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.monithon-categoria {
    font-family: $font2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.monithon-small-chip,
.pagamenti-label,
.pagamenti {
    font-family: $font2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.font-mono-budget,
.font-mono-anno {
    font-family: $font1;
}

.monithon-risultati-header-titolo {
    font-family: $font1;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-transform: uppercase;
    font-weight: 400;
    color: $dark-blue;
}

.monithon-risultati-contatore {
    font-family: $font1;
    font-size: 140px;
    font-weight: 700;
    color: $red;
    margin: 0;
}

.mat-slider-thumb-label-text {
    // font-size: 16px;
    font-family: $font2;
}

.mapboxgl-ctrl-geocoder--input {
    font-size: 18px;
    font-family: $font2;
    color: var(--monithon-default-font-color);

}


.monithon-comune-corrente {
    color: var(--monithon-comune-corrente-color);
}

.monithon-raggio-corrente {
    color: var(--monithon-raggio-corrente-color);
}

.monithon-comune-corrente,
.monithon-raggio-corrente {
    font-family: $font2;
}

.monithon-lista-progetti {
    .monithon-lista-risultato {
        h2 {
            font-family: $font2;
            font-style: normal;
            // font-weight: 600;
            font-size: 21px;
        }
    }
}

.monithon-lista-progetti__progetto__dettagli__distanza,
.monithon-lista-progetti__progetto__dettagli__contatore_report,
.monithon-lista-progetti__progetto__dettagli__lista_report_report_container {
    font-family: $font2 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
}


.monithon-dettaglio-progetto {
    .monithon-dettaglio-progetto__lista__categorie__header {
        font-size: unset; //deve essere resettato per poterlo poi sovrascrivere con la regola successiva
    }

    .monithon-dettaglio-progetto__sintesi,
    .monithon-dettaglio-progetto__sintesi__oc_link,
    .monithon-dettaglio-progetto__data_inizio,
    .monithon-dettaglio-progetto__tema__progetto,
    .monithon-dettaglio-progetto__lista__categorie,
    .monithon-dettaglio-progetto__lista__categorie__header {
        font-size: 18px;
    }

    .monithon-dettaglio-progetto__data_inizio {
        text-transform: capitalize;
    }

}


//modale:
.monithon-about-modal .modal-wrapper,
app-courtesy {

    .monithon-about-modal-content {
        font-family: $font2 !important;

        .monithon-about-col {
            color: var(--monithon-default-font-color) !important;
        }

        .monithon-about-titolo {
            color: var(--monithon-about-titolo-color) !important;
            font-size: 23px;
        }

        .monithon-about-titolo-sezione {
            font-size: 16px;
        }

        .monithon-about-colophon {
            font-size: 12px;
        }
    }
}