@import '../../../theme/scrollbar-width-mixin.scss';

.monithon-about-modal .modal-wrapper {
     --background: white;
    .monithon-about-header {
        background-image: unset;
    }

    .monithon-close-modal {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ccircle cx='14' cy='14' r='12' stroke='white' stroke-width='2'/%3E%3Cpath d='M13.375 18.2351H15.2031V18.1136C15.2287 16.6435 15.6506 15.9851 16.7372 15.3139C17.8814 14.6236 18.5845 13.652 18.5845 12.2138C18.5845 10.1364 17.0121 8.73011 14.6662 8.73011C12.5121 8.73011 10.7862 9.98935 10.7031 12.2905H12.6463C12.723 10.9354 13.6882 10.3409 14.6662 10.3409C15.7528 10.3409 16.6349 11.0632 16.6349 12.1946C16.6349 13.147 16.0405 13.8182 15.2798 14.2912C14.0909 15.0199 13.3878 15.7422 13.375 18.1136V18.2351ZM14.3402 22.1214C15.0369 22.1214 15.6186 21.5526 15.6186 20.843C15.6186 20.1463 15.0369 19.571 14.3402 19.571C13.6371 19.571 13.0618 20.1463 13.0618 20.843C13.0618 21.5526 13.6371 22.1214 14.3402 22.1214Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: cover;
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

    .monithon-about-col {
        margin: auto;
    }

    .monithon-about-modal-content {
        @include hideScrollbar();
    }
    
}