/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "theme/ng-select-override.scss";

.mapboxgl-ctrl-bottom-left,
.mapbox-gl-draw_ctrl-draw-btn {
    display: none !important;
}

.mapboxgl-ctrl-geocoder {
    max-width: 432px !important;
    width: 432px !important;
    border-radius: 20px !important;
    top: 10px;

    .mapbox-gl-geocoder--no-results {
        line-height: 40px !important;
    }

    .mapboxgl-ctrl-geocoder--icon-search {
        display: none;
    }

    .mapboxgl-ctrl-geocoder--input {
        padding-left: 15px;
    }
}

.navigation-control {
    position: absolute;
    z-index: 100;
    width: auto;
    right: 20px;
    top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .mapboxgl-ctrl {
        margin-right: 5px;
        display: flex;
        flex-direction: row-reverse;
    }
}

@import "./theme/charts.scss";
@import "./theme/typography.scss";

ion-content {
    background: var(--monithon-tema-sfondo-charts) !important;

    &.monithon-report-finder {
        background: var(--monithon-loader-report-background) !important;
    }
}

#container.visible,
#navigationControl.visible {
    opacity: 1;
    transition-property: all;
    transition-duration: 250ms;
}

#container.hidden,
#navigationControl.hidden {
    opacity: 0;
    transition-property: all;
    transition-duration: 500ms;
}

.monithon-loader {
    transition-duration: 0;

    --backdrop-opacity: 1;
    background: var(--monithon-sfondo-loader);

    .loading-wrapper {
        background-image: url("assets/img/loader.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: auto;
        box-shadow: unset;
        background-color: unset;
    }

    &.monithon-loader-only-desktop {
        --ion-backdrop-color: white;
        --max-width: 100vw !important;
        background: white;

        .loading-wrapper {
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: 20px;
            font-family: "Roboto";
            width: 80vw;
            height: 100%;
            color: var(--monithon-default-font-color);
        }
    }
}

.monithon-loader-report {
    --ion-backdrop-color: var(--monithon-loader-report-background);
}

.monithon-loaded-report {
    @extend .monithon-loader;
}

.mat-expansion-indicator {
    border: 1px solid transparent;
    width: 27px !important;
    height: 27px !important;
    border-radius: 100% !important;
    background-color: var(--monithon-panel-chevron-background);
    display: inline-flex !important;
    align-self: flex-start !important;
    margin-top: 14px !important;

    &::after {
        color: var(--monithon-panel-chevron-color);
        // margin: auto !important;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 4.5px;
        margin-right: auto;
        border-width: 1px 0 0 1px !important;
        padding-top: 9px !important;
        padding-left: 9px !important;
    }
}

app-report-finder {
    .mat-expansion-indicator {
        background-color: var(--monithon-panel-chevron-background-report);

        &::after {
            color: var(--monithon-panel-chevron-color);
        }
    }
}

ion-modal.monithon-about-modal,
app-courtesy {
    --width: 100%;
    --height: 100%;
    --border-radius: 0;
    --backdrop-opacity: 1;
    background-color: white !important;
}

.monithon-about-header {
    background-image: unset;
}

@import "./theme/scrollbar-width-mixin.scss";

.monithon-about-modal .modal-wrapper,
app-courtesy {
    --background: white;

    .header-md::after {
        background-image: unset;
    }

    .monithon-close-modal {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.28223 15.2173L14.7173 1.78223' stroke='%23EA4A3E' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1.28223 1.78223L14.7173 15.2173' stroke='%23EA4A3E' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        background-size: auto;
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

    .monithon-about-col {
        margin: auto;
    }

    .monithon-about-modal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .monithon-about-grid {
            height: calc(100vh - 56px);
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            @include hideScrollbar();
        }

        .monithon-app-info-row {
            margin-top: auto;
        }

        background: white !important;
    }

    li {
        margin-bottom: 12px;
    }

    .monithon-colophon-container {
        display: flex;
        flex-wrap: wrap;
    }

    .monithon-colophon-row {
        margin-top: 50px;
    }

    .monithon-about-eu-flag {
        width: auto;
        height: 100%;
    }

    .monithon-about-colophon {
        margin-top: 0;
        padding-left: 20px;
    }

    .monithon-app-info-container {
        margin-top: auto;
        justify-content: center;
    }

    .monithon-about-version-number {
        font-size: small;
        text-align: center;
    }
}

//ng-select custum styles
.monithon-report-programmi-operativi-select {
    padding-left: 24px !important;
    padding-right: 12px !important;

    .ng-select-container {
        min-height: unset !important;
        background: white;
        height: 36px;
        border-radius: 18px;

        input[type="text"] {
            padding-left: 17px !important;
            padding-right: 12px !important;
        }

        .ng-value-container {
            align-self: flex-end;
            margin-left: 17px;

            .ng-placeholder {
                position: unset;
            }
        }

        .ng-arrow-wrapper {
            visibility: hidden;
        }
    }

    &.ng-select-opened {
        .ng-select-container {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            z-index: 2000;

            .ng-placeholder {
                display: none;
            }
        }
    }

    .ng-has-value {
        .ng-placeholder {
            display: none;
        }
    }

    .ng-dropdown-panel {
        margin-left: 24px;
        // padding-right: 12px;
        width: calc(100% - 36px);
        border-top-left-radius: 18px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 18px;
        margin-bottom: 12px;

        .scroll-host {
            @include hideScrollbar();
        }
    }
}
