#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    // top: 50%;
    // transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
}

#container a {
    text-decoration: none;
}



#panelContainer {
    display: flex;
    align-items: baseline;
    margin-top: auto;
    z-index: 100;
}

#filterContainer {
    margin-top: auto;
    width: 66vw;
    max-height: 50vh;
}

#resultContainer {
    width: 34vw;
    max-height: 100vh;
    align-self: flex-end;
}

#chartPanelContainer {

    width: 50%;
    z-index: 10;
    display: flex;
    align-self: flex-end;
}

#chartPanel {
    width: 100%;
    height: 100%;
    align-self: flex-end;
}

#categorieDiSpesaContainer {
    width: 100%;

    &.shrink {
        width: 50%;
    }
}

#filtri {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#budgetChartContanier {
    width: 100%;
    height: 240px;
}


#mapContainer {
    // display: block;
    width: 100vw;
    height:100vh;
    top: 0;
    left: 0;
    position: absolute;
}


.mapboxgl-ctrl-bottom-left {
    display: none;
}