<ion-content [fullscreen]="true" [scrollY]="false">
    <!-- <ion-toolbar class="monithon-header" >
    </ion-toolbar> -->
    <monithon-drawer>
        <div slot="menu-entries">

            <h3 class="menu-entry"> slot - uno </h3>
            <h3 class="menu-entry"> slot - due </h3>
            <h3 class="menu-entry"> slot - tre </h3>
            <h3 class="menu-entry"> slot - quattro </h3>
        </div>
    </monithon-drawer>
    <div #geocoder id="geocoder" class="geocoder"></div>
    <div id="container">
        <!-- Mappa -->
        <div #mapContainer id="mapContainer">

        </div>
        <!-- dettaglio progetto -->
        <div [ngClass]="{'hidden': !this.visualizzaDettaglio, 'visible': this.visualizzaDettaglio}" #dettaglioProgetto
            [attr.data-oc-cod-tema-sintetico]="this.progettoSelezionato.ocCodTemaSintetico"
            class="monithon-dettaglio-progetto">
        <div class="monithon-dettaglio-progetto__header">
            <h5 class="monithon-dettaglio-progetto__titolo_scheda">{{'schedaProgetto' | transloco}}</h5>
        <ion-icon name="chevron-back-outline" (click)="onDettaglioProgettoHandleClick()"></ion-icon>
        </div>
            <div #dettagliProgetto>

                <ion-grid>
                    <ion-row>
                        <ion-col col-6 class="monithon-dettaglio-progetto__col">
                            <div class="monithon-dettaglio-progetto__titolo_container">
                                <h4 class="monithon-dettaglio-progetto__titolo">{{progettoSelezionato.ocTitoloProgetto |
                                    capitalize}}
                                </h4>
                            </div>
                            <div #sintesiProgetto class="monithon-dettaglio-progetto__sintesi">
                                {{progettoSelezionato.ocSintesiProgetto | capitalize}}
                                {{progettoSelezionato.ocSintesiProgetto | capitalize}}
                                {{progettoSelezionato.ocSintesiProgetto | capitalize}}
                                {{progettoSelezionato.ocSintesiProgetto | capitalize}}
                            </div>
                           
                        </ion-col>
                        <ion-col col-6 class="monithon-dettaglio-progetto__col  monithon-dettaglio-progetto__dettagli">
                            <div class="monithon-dettaglio-progetto__data_inizio">
                                <ion-label class="monithon-dettaglio-progetto__label">{{'dataInizio' | transloco}}
                                </ion-label>
                                <ion-label>{{progettoSelezionato.ocDataInizioProgetto | momentdate:'YYYYMMDD' | date:'d MMMM y':'+0100': 'it'}}</ion-label>
                            </div>
                        
                            <div class="monithon-dettaglio-progetto__categoria">
                                <ion-label class="monithon-dettaglio-progetto__label">{{'categoria' | transloco}}
                                </ion-label>
                                <ion-label>{{'categorie.'+progettoSelezionato.ocCodCategoriaSpesa | transloco}}
                                </ion-label>
                            </div>
                        
                            <div class="monithon-dettaglio-progetto__tema">
                                <ion-label class="monithon-dettaglio-progetto__label">{{'tema' | transloco}}</ion-label>
                                <ion-label>{{'temi.'+progettoSelezionato.ocCodTemaSintetico | transloco}}
                                </ion-label>
                            </div>
                        
                            <div class="monithon-dettaglio-progetto__finanziamento">
                                <ion-label class="monithon-dettaglio-progetto__label">{{'finanziamento' | transloco}}
                                </ion-label>
                                <div #finanziamentoPubblicoChartContainer></div>
                            </div>
                        
                            <div class="monithon-dettaglio-progetto__pagamenti">
                                <ion-label class="monithon-dettaglio-progetto__label">{{'pagamenti' | transloco}}
                                </ion-label>
                                <div #pagamentiChartContainer></div>
                            </div>
                        
                            <div id="flagProgetto">
                                <ion-grid>
                                    <ion-row class="monithon-filtri-secondari ion-no-margin ">
                                        <ion-col size="8" class="ion-no-margin ">
                                            <ion-label class="chart-title monithon-dettaglio-progetto__label">
                                                {{'statoAvanzamento' |transloco}}</ion-label>
                                            <mat-chip-list class="monithon-dettaglio-progetto__stato-avanzamento" multiple="true"
                                                aria-orientation="horizontal">
                                                <mat-chip class="monithon-dettaglio-progetto__stato-avanzamento" selectable="false"
                                                    *ngFor="let stato of this.statiAvanzamento"
                                                    [selected]="progettoSelezionato.ocCodStatoProgetto==stato.ocCodStatoProgetto"
                                                    [attr.data-oc-cod-stato-progetto]="stato.ocCodStatoProgetto" disableRipple="true">
                                                    {{'statiAvanzamento.'+stato.ocCodStatoProgetto | transloco}}
                                                </mat-chip>
                                            </mat-chip-list>
                                        </ion-col>
                                        <ion-col size="3" class="ion-no-margin">
                                            <ion-label class="chart-title monithon-dettaglio-progetto__label"
                                                monithon-dettaglio-progetto__label>{{'monitorati' |transloco}}
                                            </ion-label>
                                            <mat-chip-list class="monithon-dettaglio-progetto__has-report" multiple="false"
                                                aria-orientation="horizontal">
                                                <mat-chip class="monithon-dettaglio-progetto__has-report" selectable="false"
                                                    *ngFor="let flag of this.reportFlags"
                                                    [selected]="progettoSelezionato.hasReport==flag.hasReport"
                                                    [attr.data-has-report]="flag.hasReport" disableRipple="true">
                                                    {{'reportFlags.'+flag.hasReport | transloco}}
                                                </mat-chip>
                                            </mat-chip-list>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </div>
                        </ion-col>
                        
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div class="monithon-dettaglio-progetto__inizia_monitoraggio">
                                <button (click)="iniziaMonitoraggioClicked(progettoSelezionato)" class="monithon-dettaglio-progetto__inizia_monitoraggio__button" mat-button
                                    color="primary">{{'iniziaMonitoraggio' | transloco}}</button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </div>
        </div>

        <div id="panelContainer">
            <div id="filterContainer">
                <!-- Temi -->
                <mat-chip-list [ngClass]="{'monithon-temi': true}" aria-label="Temi progetto" multiple="true">
                    <mat-chip [ngClass]="{'monithon-tema': true}" *ngFor="let tema of this.temi"
                        [selected]="tema.isSelected" (click)="this.filterByTema(tema)"
                        [attr.data-oc-cod-tema-sintetico]="tema.ocCodTemaSintetico" disableRipple="true">
                        {{'temi.'+tema.ocCodTemaSintetico | transloco}}</mat-chip>
                </mat-chip-list>

                <!-- Categorie dei temi attivi -->
                <mat-expansion-panel class="monithon-filtri">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{'monithonFiltriTitle'|transloco}}
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6" class="ion-no-margin monithon-categorie-container">
                                <div #categorieDiSpesaContainer id="categorieDiSpesaContainer">
                                    <!-- parametrizzare con categorie dei progetti selezionati su mappa -->
                                    <mat-chip-list [ngClass]="{'monithon-categorie': true}" multiple="true"
                                        aria-orientation="horizontal">
                                        <mat-chip [ngClass]="{'monithon-categoria': true}" selectable="true"
                                            *ngFor="let categoria of this.categorie" [selected]="categoria.isSelected"
                                            (click)="this.filterByCategoria(categoria)"
                                            [attr.data-oc-cod-tema-sintetico]="categoria.ocCodTemaSintetico"
                                            disableRipple="true">
                                            {{'categorie.'+categoria.ocCodCategoriaSpesa | transloco}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                            </ion-col>
                            <ion-col size="6" class="ion-no-margin">
                                <mat-expansion-panel class="monithon-filtri-charts" id="chartPanel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{'chartPanelTitle'|transloco}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div id="chartsContainer">
                                        <ion-grid class="ion-no-margin">
                                            <ion-row class="ion-no-margin monithon-chart-container">
                                                <ion-col class="ion-no-margin">
                                                    <h5 class="chart-title">{{'budgetChartTitle' |transloco}}</h5>
                                                    <div #budgetChart id='budgetChartContainer'></div>
                                                </ion-col>
                                            </ion-row>

                                            <ion-row class="ion-no-margin monithon-chart-container">
                                                <ion-col class="ion-no-margin">
                                                    <h5 class="chart-title">{{'annoChartTitle'|transloco}}</h5>
                                                    <div #annoChart id='annoChartContainer'></div>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </div>
                                    <div id="filtriSecondariContainer">
                                        <ion-grid>
                                            <ion-row class="monithon-filtri-secondari ion-no-margin ">
                                                <ion-col size="8" class="ion-no-margin ">
                                                    <h5 class="chart-title">{{'statoAvanzamento' |transloco}}</h5>
                                                    <mat-chip-list
                                                        [ngClass]="{'monithon-filtro-stato-avanzamento': true}"
                                                        multiple="true" aria-orientation="horizontal">
                                                        <mat-chip
                                                            [ngClass]="{'monithon-filtro-stato-avanzamento': true}"
                                                            selectable="true"
                                                            [matTooltip]="'tooltip.statiAvanzamento.'+stato.ocCodStatoProgetto | transloco"
                                                            *ngFor="let stato of this.statiAvanzamento"
                                                            [selected]="stato.isSelected"
                                                            (click)="this.filterByStato(stato)"
                                                            [attr.data-oc-cod-stato-progetto]="stato.ocCodStatoProgetto"
                                                            disableRipple="true">
                                                            {{'statiAvanzamento.'+stato.ocCodStatoProgetto | transloco}}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </ion-col>
                                                <ion-col size="3" class="ion-no-margin">
                                                    <h5 class="chart-title">{{'monitorati' |transloco}}</h5>
                                                    <mat-chip-list [ngClass]="{'monithon-filtro-report': true}"
                                                        multiple="true" aria-orientation="horizontal">
                                                        <mat-chip [ngClass]="{'monithon-filtro-report': true}"
                                                            selectable="true" *ngFor="let flag of this.reportFlags"
                                                            [matTooltip]="'tooltip.reportFlags.'+flag.hasReport | transloco"
                                                            [selected]="flag.isSelected"
                                                            (click)="this.filterByReportFlag(flag)"
                                                            [attr.data-has-report]="flag.hasReport"
                                                            disableRipple="true">
                                                            {{'reportFlags.'+flag.hasReport | transloco}}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </div>
                                </mat-expansion-panel>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </mat-expansion-panel>
            </div>
        </div>
        <div class="right-column">
            <mat-expansion-panel id="resultContainer">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>{{'resultContainerTitle' | transloco}}</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="monithon-lista-header">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <h1 class="monithon-contatore-risultati" #resultCounter>{{this.risultatiRicerca.length |
                                    number}}
                                </h1>
                            </ion-col>
                            <ion-col><span>{{'comune'|transloco}}</span>; <span>{{'distanza'|transloco}}</span>
                            </ion-col>
                        </ion-row>
                        <!-- ordinamento -->
                        <ion-row>
                            <ion-col>
                                
                                
                                <mat-expansion-panel [(expanded)]="ordinamentoPanelOpenState">
                                    <mat-expansion-panel-header>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="3">
                                                    <ion-label>{{'ordinaPer'|transloco}}</ion-label>
                                                </ion-col>
                                                <ion-col size="9">
                                                    <mat-chip-list class="monithon-criteri-ordinamento">
                                                        <mat-chip>{{criterioSelezionato|transloco}}</mat-chip>
                                                    </mat-chip-list>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </mat-expansion-panel-header>
                                    <div class="monithon-criterio-ordinamento__selezione">
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="3">
                                                </ion-col>
                                                <ion-col size="9">
                                                    <mat-chip-list class="monithon-criteri-ordinamento">
                                                        <mat-chip *ngFor="let criterio of criteriOrdinamento"
                                                         (click)="onCriterioSelezionatoClick(criterio)"
                                                         disableRipple="true">
                                                            {{criterio | transloco}}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </div>
                                
                                </mat-expansion-panel>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <!-- lista risultati -->
                <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400"
                    class="monithon-lista-progetti">
                    <ion-item color="light" *cdkVirtualFor="let progetto of risultatiRicerca;" (click)="onProgettoClick(progetto)"
                        class="monithon-lista-progetti__progetto" >
                        <ion-grid>
                            <ion-row>
                                <ion-col><ion-label class="monithon-lista-risultato" [attr.data-oc-cod-tema-sintetico]="progetto.ocCodTemaSintetico" [ngClass]="{'selected': progetto.uid==progettoSelezionato.uid}">
                                    <h2>{{progetto.ocTitoloProgetto | capitalize}} </h2>
                                </ion-label></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-label class="monithon-lista-progetti__progetto__dettagli__distanza">{{'distanza'|transloco}}: {{progetto.distanza | formatDistanza }}
                                    </ion-label>
                                </ion-col>
                                <ion-col>
                                    <ion-label class="monithon-lista-progetti__progetto__dettagli__has_report">{{'hasReport'|transloco}}:
                                        {{progetto.hasReport ? "true" : "false" | transloco}}
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        
                    </ion-item>
                </cdk-virtual-scroll-viewport>
            </mat-expansion-panel>
        </div>
    </div>
</ion-content>