<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header> -->

    <div id="container">
        <!-- Mappa -->
        <!-- <monithon-map
            api-key='pk.eyJ1IjoibGJydXR0aSIsImEiOiJjaXl5NXMxNWswMDA2MzJwZGViZDNxOG05In0.R5OZB0r3ov9HeduzarkLjw'
            region='it' geolocate='true'></monithon-map> -->
        <!-- filtri e dettaglio -->
        <ion-grid>
            <ion-row>
                <ion-col size="8">
                    <h1>filtri</h1>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <h2>carrateristiche</h2>
                            </ion-col>
                            <ion-col size="6">
                                <h2>altre dimensioni</h2>
                                <ion-grid>
                                    <ion-row>
                                        <h3>budget</h3>
                                        <div #budgetChart id='budgetChartContanier'></div>
                                    </ion-row>

                                    <ion-row>
                                        <h3>anno</h3>
                                        <div #annoChart  id='annoChartContanier'></div>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col size="4">
                    <h1>lista progetti</h1>
                    <ion-list>
                    <ion-item *ngFor="let item of this.progetti" (click)="this.onProgettoClick($event, item)">
                        <h3>{{item.ocTitoloProgetto}}</h3>
                    </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>