@import '../../theme/scrollbar-width-mixin.scss';

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    // top: 50%;
    // transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
}

#container a {
    text-decoration: none;
}



#panelContainer {
    display: flex;
    align-items: baseline;
    margin-top: auto;
    z-index: 100;
    width: 66vw;
}

#filterContainer {
    margin-top: auto;
    width: 66vw;
    //min-height: 66vh;
}




//https://stackoverflow.com/questions/53195131/angular-material-mat-expansion-panel-body-style-not-being-applied
::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

::ng-deep .mat-expansion-panel-header,
::ng-deep .mat-expansion-panel-header.mat-expanded {
    height: 32px;
}

::ng-deep .mat-chip.mat-standard-chip::after {
    background: transparent;
}

::ng-deep .mat-chip.mat-standard-chip:active {
    box-shadow: none;
}

::ng-deep .mat-chip-selected {
    font-weight: unset;
}

::ng-deep .mat-standard-chip {
    padding: 3px 6px !important;
    min-height: 28px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: inherit;
}

::ng-deep .mat-tooltip {
    /* your own custom styles here */
    /* e.g. */
    font-size: small;
}

#chartPanel {
    align-self: flex-end;

    .mat-expansion-panel-content {
        overflow-y: scroll;
    }
}

#chartsContainer {
    overflow-y: scroll;
    @include hideScrollbar();
}

.monithon-chart-container {
    height: 50%;
}

#categorieDiSpesaContainer {
    width: 100%;
    height: 100%;
}

#budgetChartContainer,
#annoChartContainer {
    width: 100%;
    min-height: 34px;

    g.axis.y {
        display: none !important;
    }

}

.chart-title {
    font-size: small;
    text-align: left;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 5px;
}

#mapContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

.monithon-dettaglio-progetto {
    position: absolute;
    bottom: 0;
    width: 66vw;
    transition: left 0.5s;
    z-index: 1001;
    height: 71vh;
    text-align: left;
    color: var(--monithon-font-color);

    .monithon-dettaglio-progetto__dettagli_container {
        height: 90%;

        ion-grid {
            height: 100%;

            ion-row {
                height: 100%;
            }
        }
    }

    &[data-oc-cod-tema-sintetico="4"] {
        background-color: var(--monithon-tema-energia-background);

        .monithon-dettaglio-progetto__inizia_monitoraggio__button {
            color: var(--monithon-tema-energia-background);
        }
    }

    &[data-oc-cod-tema-sintetico="5"] {
        background-color: var(--monithon-tema-ambiente-background);

        .monithon-dettaglio-progetto__inizia_monitoraggio__button {
            color: var(--monithon-tema-ambiente-background);
        }
    }

    &[data-oc-cod-tema-sintetico="6"] {
        background-color: var(--monithon-tema-attrazione-background);

        .monithon-dettaglio-progetto__inizia_monitoraggio__button {
            color: var(--monithon-tema-attrazione-background);
        }
    }

    &[data-oc-cod-tema-sintetico="7"] {
        background-color: var(--monithon-tema-mobilita-background);

        .monithon-dettaglio-progetto__inizia_monitoraggio__button {
            color: var(--monithon-tema-mobilita-background);
        }
    }

    &.hidden {
        left: -100vw;
    }

    &.visible {
        left: 0;
    }

    .monithon-dettaglio-progetto__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 2rem;

        ion-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.1' fill='none' viewBox='0 0 29 29'%3E%3Cpath style='stroke-width:0.965516' id='path883' stroke='%23ffffff' fill='transparent' d='M 28.017242,14.5 C 28.017242,21.965373 21.96538,28.017242 14.5,28.017242 7.0346299,28.017242 0.98275807,21.965373 0.98275807,14.5 0.98275807,7.0346278 7.0346299,0.98275807 14.5,0.98275807 c 7.46538,0 13.517242,6.05186973 13.517242,13.51724193 z' /%3E%3Cpath style='stroke-width:0.965516;fill:%23ffffff;fill-opacity:1' id='path885' stroke='%23ffffff' fill='transparent' d='m 19.810345,5.6533406 c 0,0.2056564 -0.08004,0.4155974 -0.240221,0.5715536 l -8.399942,8.2750598 8.398977,8.27523 c 0.320648,0.317054 0.320648,0.827338 0,1.143107 -0.320649,0.317053 -0.839807,0.317053 -1.160069,0 L 9.4298755,15.071636 c -0.153913,-0.149958 -0.2402206,-0.355615 -0.2402206,-0.571554 0,-0.214225 0.086636,-0.419882 0.2402206,-0.571553 L 18.409669,5.0818299 c 0.320648,-0.3170538 0.840193,-0.3170538 1.160166,0 0.160469,0.1585268 0.24051,0.3641832 0.24051,0.5715107 z' /%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 1rem;
            width: 28px;
            height: 28px;
        }
    }

    .monithon-dettaglio-progetto__categoria {


        .monithon-dettaglio-progetto__lista__categorie {
            &.inactive {
                .monithon-dettaglio-progetto__lista__categorie__header {
                    pointer-events: none;
                    cursor: default;
                }
            }

            &[data-oc-cod-tema-sintetico="4"] * {
                background: var(--monithon-tema-energia-background) !important;
            }

            &[data-oc-cod-tema-sintetico="5"] * {

                background: var(--monithon-tema-ambiente-background) !important;
            }

            &[data-oc-cod-tema-sintetico="6"] * {
                background: var(--monithon-tema-attrazione-background) !important;
            }

            &[data-oc-cod-tema-sintetico="7"] * {
                background: var(--monithon-tema-mobilita-background) !important;
            }



            .monithon-dettaglio-progetto__lista__categorie__header {
                padding: 0;

                .monithon-dettaglio-progetto__arrow {
                    margin-left: 10px
                }

                &.mat-expanded {
                    .monithon-dettaglio-progetto__arrow {
                        transform: translateY(0px) rotateX(180deg)
                    }
                }
            }


        }


    }

    .mat-chip.monithon-dettaglio-progetto__stato-avanzamento,
    .mat-chip.monithon-dettaglio-progetto__has-report {
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: var(--monithon-font-color);
        text-align: center;
        justify-content: center;
        opacity: 0.3;

        &.mat-chip-selected {
            background-color: var(--monithon-label-color);
            color: var(--monithon-font-color);
            border: 0;
            opacity: 1;
        }
    }

    .mat-chip.monithon-dettaglio-progetto__stato-avanzamento {
        width: 33%;
    }

    .mat-chip.monithon-dettaglio-progetto__has-report {
        width: 100%;
    }

    .monithon-dettaglio-progetto__dettagli {
        display: flex;
        flex-direction: column;
    }

    .monithon-dettaglio-progetto__titolo_scheda {
        margin-left: 10px;
    }

    .monithon-dettaglio-progetto__titolo_container {
        border-bottom: 1px;
    }

    .monithon-dettaglio-progetto__titolo {
        margin-top: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--monithon-font-color);
    }

    .monithon-dettaglio-progetto__sintesi {
        overflow-y: scroll;
        @include hideScrollbar();

        .monithon-dettaglio-progetto__sintesi__oc_link {
            margin-top: 12px;
            font-weight: bold;

            a {
                color: var(--monithon-font-color) !important;
            }
        }
    }

    .monithon-dettaglio-progetto__col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .monithon-dettaglio-progetto__dettagli {
        justify-content: space-between;
    }

    .monithon-dettaglio-progetto__label {
        color: var(--monithon-label-color);
        text-transform: uppercase;
        display: block;
    }


    &.monithon-finanziamenti-chart,
    &.monithon-pagamenti-chart {
        height: 36px;
    }

    .monithon-dettaglio-progetto__oc_link {
        margin-top: auto;
    }

    .monithon-dettaglio-progetto__inizia_monitoraggio__button {
        background: var(--monithon-font-color);
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: auto;
        height: 44px;
        border-radius: 22px;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 400;
    }

}


.mat-chip[data-active="false"] {
    pointer-events: none;
    background-color: transparent !important;
    opacity: 0.5;
}

.mat-chip.monithon-tema[data-active="false"],
.mat-chip.monithon-categoria[data-active="false"] {

    &[data-oc-cod-tema-sintetico="4"] {
        color: var(--monithon-tema-energia-background) !important;
        border-color: var(--monithon-tema-energia-background);
    }

    &[data-oc-cod-tema-sintetico="5"] {

        color: var(--monithon-tema-ambiente-background) !important;
        border-color: var(--monithon-tema-ambiente-background);
    }

    &[data-oc-cod-tema-sintetico="6"] {
        color: var(--monithon-tema-attrazione-background) !important;
        border-color: var(--monithon-tema-attrazione-background);
    }

    &[data-oc-cod-tema-sintetico="7"] {
        color: var(--monithon-tema-mobilita-background) !important;
        border-color: var(--monithon-tema-mobilita-background);
    }

}

.mat-chip.monithon-tema,
.mat-chip.monithon-categoria,
.mat-chip.monithon-filtro-stato-avanzamento,
.mat-chip.monithon-filtro-report {

    background-color: transparent;
    border-width: 1px;
    border-style: solid;

    // temi
    &[data-oc-cod-tema-sintetico="4"] {
        color: var(--monithon-tema-energia-background) !important;
        border-color: var(--monithon-tema-energia-background);
    }

    &[data-oc-cod-tema-sintetico="5"] {

        color: var(--monithon-tema-ambiente-background) !important;
        border-color: var(--monithon-tema-ambiente-background);
    }

    &[data-oc-cod-tema-sintetico="6"] {
        color: var(--monithon-tema-attrazione-background) !important;
        border-color: var(--monithon-tema-attrazione-background);
    }

    &[data-oc-cod-tema-sintetico="7"] {
        color: var(--monithon-tema-mobilita-background) !important;
        border-color: var(--monithon-tema-mobilita-background);
    }

    // stati e flag report
    &[data-oc-cod-stato-progetto],
    &[data-has-report] {
        background-color: transparent;
        color: var(--monithon-filtro-secondario-unselected-color);
        border-color: var(--monithon-filtro-secondario-unselected-color);
    }


    &.mat-chip-selected {
        // &[data-oc-cod-tema-sintetico] {
        color: var(--monithon-tema-color) !important;
        // }

        &[data-oc-cod-tema-sintetico="4"] {
            background-color: var(--monithon-tema-energia-background);
        }

        &[data-oc-cod-tema-sintetico="5"] {
            background-color: var(--monithon-tema-ambiente-background);
        }

        &[data-oc-cod-tema-sintetico="6"] {
            background-color: var(--monithon-tema-attrazione-background);
        }

        &[data-oc-cod-tema-sintetico="7"] {
            background-color: var(--monithon-tema-mobilita-background);
        }

        &[data-oc-cod-stato-progetto],
        &[data-has-report] {
            background-color: var(--monithon-filtro-secondario-selected-color) !important;
            border-color: var(--monithon-filtro-secondario-selected-color);
        }
    }
}

.mat-chip.monithon-filtro-stato-avanzamento {
    width: 33%;
    justify-content: center;

}

.mat-chip.monithon-filtro-report {
    width: 100%;
    justify-content: center;

}

.mat-expansion-panel {
    border-radius: 0;
}

ion-row.monithon-filtri-secondari {
    display: flex;
    justify-content: space-between;
}

.mat-chip-list.monithon-categorie {
    max-height: 60vh;
    display: inline-block;
    overflow-x: hidden;
    @include hideScrollbar();
    width: 100%;
    margin: 0;
    padding: 0;
}

.monithon-filtri {
    background-color: var(--monithon-tema-sfondo-filtri);

    &.mat-expanded {
        .monithon-categorie-container {
            height: 60vh;
        }
    }
}

.monithon-filtri-charts {
    background-color: var(--monithon-tema-sfondo-charts);
}

.monithon-criterio-ordinamento__selezione {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    mat-label {
        align-self: flex-start;
    }
}

.monithon-criterio-ordinamento {
    transition-delay: 0;
    color: var(--monithon-tema-color);
    border: 1px solid var(--monithon-tema-color);
    background: var(--monithon-label-color);

    &.selected {
        background: var(--monithon-tema-color);
        color: var(--monithon-label-color);
    }
}

.monithon-criteri-ordinamento {
    ::ng-deep .mat-chip-list-wrapper {
        display: flex !important;
        flex-direction: row !important;
        //align-content: flex-start !important;
    }
}

.monithon-criterio-ordinamento-selezionato {
    &.hidden {
        display: none;
    }
}

.monithon-risultati-header {
    height: auto;

    .monithon-header-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .monithon-risultati-header-titolo,
    .monithon-risultati-contatore {
        margin-top: auto;
        margin-bottom: auto;
        align-self: flex-start;
    }

    .monithon-risultati-contatore {
        &[data-hidden="true"] {
            display: none;
        }
    }
}

.monithon-risultati-contatore {
    color: var(--monithon-contatore-risultati-color);
    font-size: 80px;
    font-weight: bolder;
    text-align: left;
    opacity: .9;
    margin-top: auto;
    margin-bottom: auto;
}

.monithon-lista-risultato {
    // text-transform: lowercase;
    white-space: pre-line;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;

    &::before {
        content: '\0000a0';
        border-radius: 100%;
        width: .5rem;
        height: .5rem;
        display: inline-block;
        margin-bottom: auto;
        margin-top: 6px;

    }

    &.selected {
        h2 {
            font-weight: bolder;
        }
    }

    &[data-oc-cod-tema-sintetico="4"]::before {
        background-color: var(--monithon-tema-energia-background);

    }

    &[data-oc-cod-tema-sintetico="4"].selected {
        color: var(--monithon-tema-energia-background);
    }

    &[data-oc-cod-tema-sintetico="5"]::before {
        background-color: var(--monithon-tema-ambiente-background);

    }

    &[data-oc-cod-tema-sintetico="5"].selected {
        color: var(--monithon-tema-ambiente-background);
    }

    &[data-oc-cod-tema-sintetico="6"]::before {
        background-color: var(--monithon-tema-attrazione-background);

    }

    &[data-oc-cod-tema-sintetico="6"].selected {
        color: var(--monithon-tema-attrazione-background);
    }

    &[data-oc-cod-tema-sintetico="7"]::before {
        background-color: var(--monithon-tema-mobilita-background);

    }

    &[data-oc-cod-tema-sintetico="7"].selected {
        color: var(--monithon-tema-mobilita-background);
    }

    h2 {
        margin-bottom: auto;
        width: 90%;
        margin-left: 0;
        margin-top: 0;
    }

}

.right-column {
    margin-top: auto;
    z-index: 100;
    right: 0;
    position: absolute;
    bottom: 0;
}

#resultContainer {
    width: 34vw;
    align-self: flex-end;
    overflow-y: hidden;

    &.mat-expanded {
        transition-property: height;
        // height: 95vh;
    }

    .monithon-lista-progetti {

        @include hideScrollbar();
        height: 60vh;

        // * {
        //     border: none;
        // }
    }

    .monithon-lista-progetti__progetto {
        min-height: 100px !important;
        color: var(--monithon-font-color);
        --ion-item-border-color: var(--monithon-lista-report-in-dettaglio-font-color) !important;

        border-left: 12px solid;
        border-color: white;

        &.selected {

            &[data-oc-cod-tema-sintetico="4"] {
                border-color: var(--monithon-tema-energia-background);
            }

            &[data-oc-cod-tema-sintetico="5"] {
                border-color: var(--monithon-tema-ambiente-background);
            }

            &[data-oc-cod-tema-sintetico="6"] {
                border-color: var(--monithon-tema-attrazione-background);
            }

            &[data-oc-cod-tema-sintetico="7"] {
                border-color: var(--monithon-tema-mobilita-background);
            }
        }
    }

    .monithon-lista-progetti__progetto__dettagli {
        * {
            color: var(--monithon-lista-report-in-dettaglio-font-color) !important;
        }

        .monithon-lista-progetti__progetto__dettagli__contatore_report {
            text-align: right;

            &[data-mostra-icona="true"]::after {
                content: ' ↓';
            }
        }

        .monithon-lista-progetti__progetto__dettagli__lista_report * {
            color: var(--monithon-lista-report-in-dettaglio-font-color);
        }
    }

    .monithon-geolocator-data-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;

        .monithon-comune-corrente,
        .monithon-raggio-corrente {
            margin-bottom: 10px;
            margin-left: auto;
        }

        .monithon-comune-corrente::before,
        .monithon-raggio-corrente::before {
            content: ' ';
            display: inline-block;
            background-repeat: no-repeat;
            margin-right: 5px;
        }

        .monithon-comune-corrente::before {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 5.33614C0 2.12957 2.2687 0.0703125 5 0.0703125C7.7313 0.0703125 10 2.12957 10 5.33614C10 6.48342 9.73692 7.27552 9.275 8.15894L5.35624 15.6526C5.28787 15.7881 5.15027 15.8734 5 15.8734C4.84973 15.8734 4.71213 15.7881 4.64376 15.6526L0.725 8.15894C0.26306 7.27554 0 6.48342 0 5.33614ZM9.2 5.33614C9.2 2.50252 7.34974 0.880439 5 0.880439C2.65026 0.880439 0.8 2.50252 0.8 5.33614C0.8 6.36579 1.00468 6.95145 1.4375 7.77919L5 14.5893L8.5625 7.77919C8.99534 6.95141 9.2 6.36579 9.2 5.33614ZM5 2.70322C3.67926 2.70322 2.6 3.79616 2.6 5.13361C2.6 6.47107 3.67926 7.564 5 7.564C6.32074 7.564 7.4 6.47107 7.4 5.13361C7.4 3.79616 6.32074 2.70322 5 2.70322ZM6.6 5.13361C6.6 4.234 5.88838 3.51335 5 3.51335C4.11162 3.51335 3.4 4.234 3.4 5.13361C3.4 6.03324 4.11162 6.75386 5 6.75386C5.88838 6.75386 6.6 6.03324 6.6 5.13361Z' fill='black'/%3E%3C/svg%3E%0A");
            width: 10px;
            height: 16px;
        }

        .monithon-raggio-corrente::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 11'%3E%3Cpath stroke='%23005bac' d='M 9.5,5.5 C 9.5,7.98528 7.48528,10 5,10 2.51472,10 0.5,7.98528 0.5,5.5 0.5,3.01472 2.51472,1 5,1 7.48528,1 9.5,3.01472 9.5,5.5 Z' /%3E%3Cpath stroke='%23005bac' d='M 5.5,5.5 C 5.5,5.77614 5.27614,6 5,6 4.72386,6 4.5,5.77614 4.5,5.5 4.5,5.22386 4.72386,5 5,5 5.27614,5 5.5,5.22386 5.5,5.5 Z' /%3E%3C/svg%3E%0A");
            width: 10px;
            height: 10px;
        }
    }

}

.monithon-header * {
    background-color: transparent;
}

.geocoder {
    position: absolute;
    z-index: 100;
    width: 432px;
    left: 5%;
    top: 10px;

}

#raggioContainer {
    position: absolute;
    z-index: 100;
    width: 432px;
    left: 5%;
    top: 80px;

    mat-slider {
        width: 432px;
    }

    ::ng-deep mat-slider {

        &.mat-slider-horizontal {
            width: 432px;
        }

        &.mat-slider-disabled {
            display: none !important;
        }

        .mat-slider-thumb-container {
            top: 0px !important;
        }

        .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
            background: var(--monithon-range-thumb-label-background) !important
        }

        .mat-slider-thumb-label {
            top: -15px !important;
            transform: rotate(0deg) !important;
            width: 75px !important;
            height: 30px !important;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;


            border-color: white !important;
            border-width: 3px !important;
            border-style: solid !important;
            opacity: 1 !important;
            background: var(--monithon-range-thumb-label-background) !important;

            .mat-slider-thumb-label-text {
                margin-top: 5px;
                rotate: 45deg;
                width: 100%;
                height: 100%;
                text-align: center;
            }
        }



        .mat-slider-thumb {
            transform: scale(0) !important;
        }

        .mat-slider-thumb-label-text {
            opacity: 1 !important;
        }

        .mat-slider-track-fill,
        .mat-slider-track-background {
            background: var(--monithon-range-track-fill) !important;
        }
    }
}

.navigation-control {
    position: absolute;
    z-index: 100;
    width: auto;
    right: 5%;
    top: 20px;

}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;

}

monithon-drawer {
    z-index: 90;
    position: absolute;
}