<ion-content [fullscreen]="true">

    <!-- Mappa -->
    <div id="container">
        <div #mapContainer id="mapContainer">
        
        </div>
        <div id="panelContainer">
            <div id="filterContainer">
                <!-- parametrizzare con temi -->
                <mat-chip-list aria-label="Fish selection" multiple="true">
                    <mat-chip  *ngFor="let tema of this.temi" selectable="true" (click)="this.toggleLayer(tema)">{{tema.ocTemaSintetico}}</mat-chip>
                </mat-chip-list>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Categorie
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div id="filtri">

                        <div #categorieDiSpesaContainer id="categorieDiSpesaContainer">
                            <!-- parametrizzare con categorie dei progetti selezionati su mappa -->
                            <mat-chip-list aria-label="Fish selection" multiple="true">
                                <mat-chip selectable="true">tema 1</mat-chip>
                                <mat-chip selectable="true">tema 2</mat-chip>
                                <mat-chip selectable="true">tema 3</mat-chip>
                                <mat-chip selectable="true">tema 4</mat-chip>
                                <mat-chip selectable="true">tema 5</mat-chip>
                                <mat-chip selectable="true">tema 6</mat-chip>
                                <mat-chip selectable="true">tema 7</mat-chip>
                                <mat-chip selectable="true">tema 8</mat-chip>
                                <mat-chip selectable="true">tema 9</mat-chip>
                                <mat-chip selectable="true">tema 10</mat-chip>
                                <mat-chip selectable="true">tema 11</mat-chip>
                                <mat-chip selectable="true">tema 12</mat-chip>
                                <mat-chip selectable="true">tema 13</mat-chip>
                                <mat-chip selectable="true">tema 14</mat-chip>
                                <mat-chip selectable="true">tema 15</mat-chip>
                                <mat-chip selectable="true">tema 16</mat-chip>
                                <mat-chip selectable="true">tema 17</mat-chip>
                                <mat-chip selectable="true">tema 18</mat-chip>
                              

                            </mat-chip-list>
                        </div>
                        <div id="chartPanelContainer">
                            <mat-expansion-panel id="chartPanel" (opened)="this.onChartPanelOpen()" (closed)="this.onChartPanelClose()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Budget, anno e stato
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div id="chartContainer">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col>
                                                <h3>budget</h3>
                                                <div #budgetChart id='budgetChartContanier'></div>
                                            </ion-col>
                                        </ion-row>

                                        <ion-row>
                                            <ion-col>
                                                <h3>anno</h3>
                                                <div #annoChart id='annoChartContanier'></div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </div>
                            </mat-expansion-panel>
                        </div>

                    </div>
                </mat-expansion-panel>
            </div>


            <mat-expansion-panel id="resultContainer">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Progetti disponibili
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let item of this.progetti"> {{item.ocTitoloProgetto}} </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </div>
    </div>
</ion-content>