<ion-content [fullscreen]="true" [scrollY]="false" class="monithon-about-modal-content">
    <ion-grid class="monithon-about-grid">
        <ion-row>
            <ion-col text-center size-md="4" size-sm="6" class="monithon-about-col">
                <h1 class="monithon-about-titolo">{{'courtesy.titolo' | transloco}}</h1>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center size-md="4" size-sm="6" class="monithon-about-col">
                <h3 *ngIf="mode=='projectFinder'" class="monithon-about-titolo-sezione">{{'courtesy.projectFinder.sottotitolo' |
                    transloco}}</h3>
                <h3 *ngIf="mode=='reportFinder'" class="monithon-about-titolo-sezione">{{'courtesy.reportFinder.sottotitolo' |
                    transloco}}</h3>

                <p class="monithon-about-credit"><a href="{{destination}}/?desktop=1" target="_self">Prosegui
                        ugualmente</a> </p>

            </ion-col>
        </ion-row>

        <ion-row class="monithon-credits-row">
            <ion-col size-md="4" size-sm="6" class="monithon-about-col monithon-credits-container">
                <h3 class="monithon-about-titolo-sezione">{{'about.credits'| transloco}}</h3>
                <p class="monithon-about-credit"> Design: <a href="https://sheldon.studio/"
                        target="_blank">Sheldon.studio</a> </p>

                <p class="monithon-about-credit"> Data analysis:
                    <a href="https://www.monithon.eu" target="_blank">Team Monithon</a>
                </p>

                <p class="monithon-about-credit"> Software development:
                    <a href="https://sheldon.studio/" target="_blank">Sheldon.studio</a> & <a
                        href="https://www.monithon.eu" target="_blank">Team Monithon</a>
                </p>


            </ion-col>
        </ion-row>

        <ion-row class="monithon-colophon-row">
            <ion-col size-md="4" size-sm="6" class="monithon-about-col monithon-colophon-container">
                <img class="monithon-about-eu-flag" src="../../assets/img/eu_flag.png">
            </ion-col>
        </ion-row>

        <ion-row class="monithon-colophon-row monithon-app-info-row">
            <ion-col size-md="4" size-sm="6"
                class="monithon-about-col monithon-colophon-container monithon-app-info-container">
                <div class="monithon-about-version-number">Project Finder - v.{{version}}</div>
            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>
<!-- <ion-footer>

</ion-footer> -->